.leftTextSec {
  position: relative;

  .textBox {
    position: absolute;
    max-width: 40%;
    background-color: $primary;
    top: -20%;
    left: 1%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 99;

    h3 {
      height: 18px;
      margin-bottom: 2rem;
      color: $black;
    }

    p {
      font-size: 16px;
      color: #fff;
      line-height: 1.5;
      color: $gray;
    }
  }

  @media screen and (max-width: 767px) {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .textBox {
      position: static;
      max-width: 100%;
      top: 0;
      left: 0;

      h3 {
        font-size: 18px;
        margin-bottom: 1rem;
      }
    }
  }
}

.rightTextSec {
  position: relative;

  .textBox {
    position: absolute;
    max-width: 40%;
    background-color: $primary;
    top: -20%;
    right: 1%;
    padding: 30px;
    border-radius: 10px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    h3 {
      height: 18px;
      margin-bottom: 2rem;
      color: $black;
    }

    p {
      font-size: 16px;
      color: #fff;
      line-height: 1.5;
      color: $gray;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-slide video {
        display: block;
        width: 100%;
        height: 80%;
        object-fit: cover;
        object-position: center;
      }
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #ff4a17;
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: #ff4a17;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }

  .swiper-pagination-bullet-active {
    background: #ff4a17;
  }

  @media screen and (max-width: 767px) {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .textBox {
      position: static;
      max-width: 100%;
      top: 0;
      left: 0;

      h3 {
        font-size: 18px;
        margin-bottom: 1rem;
      }
    }
  }
}

.leftImgSlideSec {
  position: relative;

  .textBox {
    position: absolute;
    max-width: 40%;
    background-color: $primary;
    top: -20%;
    left: 1%;
    padding: 30px;
    border-radius: 10px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    h3 {
      height: 18px;
      margin-bottom: 2rem;
      color: $black;
    }

    p {
      font-size: 16px;
      color: #fff;
      line-height: 1.5;
      color: $gray;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-slide video {
        display: block;
        width: 100%;
        height: 80%;
        object-fit: cover;
        object-position: center;
      }
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #ff4a17;
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: #ff4a17;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }

  .swiper-pagination-bullet-active {
    background: #ff4a17;
  }

  @media screen and (max-width: 767px) {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .textBox {
      position: static;
      max-width: 100%;
      top: 0;
      left: 0;

      h3 {
        font-size: 18px;
        margin-bottom: 1rem;
      }
    }
  }
}
